@import url(common.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body { 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-contents {
  /* border: 1px solid red; */
  width: 1000px;
}
.gallery-contents h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}
/* .gallery a {
  width: 33%;
} */
.gallery a img {
  width: 300px;
  height: 200px;

}
.lightbox-overlay {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.35s;
}
.lightbox-overlay span {
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
}
.lightbox-overlay.active {
  opacity: 1;
  visibility: visible;
}