@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 15px;
	line-height: 1.5em;
	color: #222;
}

.banner{
	width: 100%;
	height: 450px;
	position: relative;

}
.banner-inner {
  /* border: 1px solid red; */
	width: 100%;
	height: 450px;
	margin: auto;
	position: relative;
  z-index: 100;
}
.navi-item {
	/* display: none; */
	padding: 0;
	margin: 0;
	position: absolute;
	left: calc(100% - 30%);
	top: 50%;
	transform: translateY(-50%);
}
.navi-item li {border: 1px solid #ddd;}
.navi-item li:hover {border-color: dodgerblue;}
.navi-item li a img {display: block;}
.image-holder {
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}
.image-holder img{
	width: inherit;
	height: inherit;
	object-fit: cover;
}